{% extends "main/index.html" %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-game">
        {{field.label_tag}}
        {{field}}
        {% if field.help_text%}
            <div class="help-text">
                {{ field.help_text }}
            </div>
        {% endif %}
        {% if field.errors %}
            <div class="form-error">
                {{ field.errors }}
            </div>
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary fw-bold">Submit game to DB</button>
</form>
{% endblock %}
