<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr style="...">
            <th scope="cool">name</th>
            <th scope="cool">genre</th>
            <th scope="cool">description</th>
            <th scope="cool">wikipage</th>
        </tr>
            {% csrf_token %}
            {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td>{{ object.genre }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.wiki_page }}</td>
            </tr>
            {% empty %}
                <td>No objects yet</td>
            {% endfor %}
    </table>
</body>
</html>